.text-white-80 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, .8) !important
}

.w-60 {
    width: 60% !important
}

.w-80 {
    width: 80% !important
}

.w-90 {
    width: 90% !important
}

.w-10 {
    width: 10% !important
}

.w-05 {
    width: 5% !important
}

.w-50px {
    width: 50px !important;
}

.w-100px {
    width: 100px !important;
}
.focusedInput {
    border-color: #FF0000;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}
.navbarclear {
    position: absolute;
    bottom: 0;
    right: 0;
}

