.text-white-80 {
    --bs-text-opacity: 1;
    color: rgba(255,255,255,.8) !important
}

.w-60 {
    width: 60% !important
}

.w-80 {
    width: 80% !important
}

.w-90 {
    width: 90% !important
}

.w-10{
    width: 10% !important
}.w-05{
    width: 5% !important
}
